go 1.26.0

use (
	./go
	./external/go
	./external/api/go
	./external/cli
	./external/go-i18n/go
	./external/go-inference/go
	./external/go-io/go
	./external/go-log/go
	./external/go-mlx/go
	./external/go-process/go
	./external/go-store/go
)
